<% @workouts.each do |workout| %>
    <h2><a href='/workouts/<%= workout.id %>'><%= workout.title %></a></h2>
    <% workout.exercises.each do |exercise| %>
       <a href='/exercises/<%= exercise.id %>'><%= exercise.exercise_name %></a><br>
    <% end %>
<% end %>
