<h1>Edit your Bio</h1>
<form action='/users/<%= current_user.slug %>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <p>Bio: <input type='text' name='bio' value='<%= current_user.bio %>'></p>
    <input type='submit' value='Submit'>
</form>