<h1>Edit Exercise</h1>
<form action='/exercises/<%= @exercise.id %>' method='post'>
    <input type='hidden' name='_method' value='patch'>
    <p>Exercise Name: <input type='text' name='exercise_name' value='<%= @exercise.exercise_name %>'></p>
    <p>Exercise Description: <input type='text' name='description' value='<%= @exercise.description %>'></p>
    <p>Exercise Type: <input type='text' name='exercise_type' value='<%= @exercise.exercise_type %>'></p>
    <input type='submit' value='SUBMIT'>
</form>