<h1>Create New Exercises</h1>

<form action='/exercises' method='post'>
    <label><h2>Exercise 1: </h2></label>
        <p>Exercise Name: <input type='text' name='exercises[exercise1][exercise_name]'></p>
        <p>Exercise Description: <input type='text' name='exercises[exercise1][description]'></p>
        <p>Exercise Type: <input type='text' name='exercises[exercise1][exercise_type]'></p>
    <label><h2>Exercise 2: </h2></label>
        <p>Exercise Name: <input type='text' name='exercises[exercise2][exercise_name]'></p>
        <p>Exercise Description: <input type='text' name='exercises[exercise2][description]'></p>
        <p>Exercise Type: <input type='text' name='exercises[exercise2][exercise_type]'></p>
    <label><h2>Exercise 3: </h2></label>
        <p>Exercise Name: <input type='text' name='exercises[exercise3][exercise_name]'></p>
        <p>Exercise Description: <input type='text' name='exercises[exercise3][description]'></p>
        <p>Exercise Type: <input type='text' name='exercises[exercise3][exercise_type]'></p>
    <label><h2>Exercise 4: </h2></label>
        <p>Exercise Name: <input type='text' name='exercises[exercise4][exercise_name]'></p>
        <p>Exercise Description: <input type='text' name='exercises[exercise4][description]'></p>
        <p>Exercise Type: <input type='text' name='exercises[exercise4][exercise_type]'></p>
    <label><h2>Exercise 5: </h2></label>
        <p>Exercise Name: <input type='text' name='exercises[exercise5][exercise_name]'></p>
        <p>Exercise Description: <input type='text' name='exercises[exercise5][description]'></p>
        <p>Exercise Type: <input type='text' name='exercises[exercise5][exercise_type]'></p>
    <input type='submit' value='Submit'>
</form>