<h1><%= @exercise.exercise_name %></h1>
<h2><%= @exercise.description %></h2>
<h2><%= @exercise.exercise_type %></h2>
<% if admin? %>
    <form method='post' action="/exercises/<%= @exercise.id %>">
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='DELETE'>
    </form>
<% end %>